.profile {
    width: 40px;
    height: 40px;
}
img {
    max-width: 100%;
}
.min {
    color: #727272;
}
.hidden {
    visibility: hidden;
    display: none;
}
.flex {
    display: flex;
}
.tag {
    background-color: gray;
    color: white;
}
#add-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  line-height: 0;           
  vertical-align: middle;   
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.user-img, .comment-profile-img {
    width: 40px;
    height: 40px;
}
#user-logged-name {
    font-weight: bold;
    color: white;
}
.card-body {
    cursor: pointer;
}
/* .edit {
    float: right;
    margin-left: 6px;
} */
.right {
    float: right;
}
#header-image {
    width: 80px;
    height: 80px;
}
.numbers{
    color: #727272;
    font-weight: 100;
}
.number-info span {
    font-size: 42px;
    color: black;
}
.user-main-info {
    font-weight: 500;
    font-size: 20px;
}
.userClickedOnPost, .profile {
    cursor: pointer;
}


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.loader {
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: rgba(48, 48, 48, 0.3);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* .logout-div {
    align-items: center;
    justify-content: center;
} */

